@model Transistor_Shanty.ViewModels.LaptopAndBrandViewModel

<h2>Transistor Shanty</h2>

<form asp-controller="laptop" asp-action="CompareLaptops" method="post">
    <select name="lap1" id="lap1" asp-items="Model.SelectListLaptops"></select>
    <select name="lap2" id="lap2" asp-items="Model.SelectListLaptops"></select>
    <button type="submit">Submit</button>
</form>

<li><a asp-action="Index">Back to Home</a></li>