<h2>Transistor Shanty</h2>
<h4>Welcome to our Website. Below is a list of our pages.</h4>

<ul>
    <li><a asp-action="CreateLaptop">Create New</a></li>
    <li><a asp-action="CompareLaptops">Compare Two Laptops</a></li>
    <li><a asp-action="GroupByType">View our Laptops Based on the Type</a></li>
    <li><a asp-action="PriceFilter">Filter Laptops by Price</a></li>
    <li><a asp-action="TopTwoPrice">View our two Most Expensive Laptops</a></li>
    <li><a asp-action="CheapThree">View our Cheapest Three Laptops</a></li>
    <li><a asp-action="BrandDescend">Choose a Brand, then Order them by Price or Year</a></li>
    <li><a asp-controller="brand" asp-action="LaptopsPerBrand">View our Laptops Sorted by Brand</a></li>

</ul>

<li><a asp-action="Index">Back to Home</a></li>